<aside class="aside">
  <a class="aside__logo-wrap" href="#">
    <img class="aside__logo" src="./img/logo.png" alt="new project">
  </a>

  <div class="aside__open-menu">
    <button class="burger-btn" type="button">
      <span class="burger-btn__line"></span>
    </button>
  </div>

  <div class="aside__nav">
    <nav class="nav">
      <a href="#" class="nav__target-link">
        Выход
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./control-panel.html">Панель управления</a>
        </li>

        <li class="nav__item nav__item--submenu">
          <a class="nav__link" href="./my-account.html">Мой счет</a>
          <button class="nav__open-sub-menu" type="button"></button>

          <ul class="nav__submenu">
            <li class="nav__submenu-item">
              <a class="nav__submenu-link" href="./refill.html">
                Пополнение счета
              </a>
            </li>

            <li class="nav__submenu-item">
              <a class="nav__submenu-link" href="./withdrawal.html">
                Вывод средств
              </a>
            </li>
          </ul>
        </li>

        <li class="nav__item nav__item--submenu">
          <a class="nav__link" href="./investment-propose.html">Инвестиционные предложения</a>
          <button class="nav__open-sub-menu" type="button"></button>

          <ul class="nav__submenu">
            <li class="nav__submenu-item">
              <a class="nav__submenu-link" href="./professional-counseling.html">
                Профессисональное консультирование
              </a>
            </li>

            <li class="nav__submenu-item">
              <a class="nav__submenu-link" href="./portfolio-investment.html">
                Портфельное инвестирование
              </a>
            </li>

            <li class="nav__submenu-item">
              <a class="nav__submenu-link" href="./investment-ipo.html">
                Инвестиции в IPO
              </a>
            </li>
          </ul>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="./account-verification.html">Верификация счета</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="./personal-area.html">Личный кабинет</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="./trading-terminal.html">Торговый терминал</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="./last-news.html">Последние новости</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="./contact-us.html">Для связи с нами</a>
        </li>
      </ul>

      <div class="nav__lang">
        <a class="nav__lang-item nav__lang-item--active" href="#">RU</a> /
        <a class="nav__lang-item" href="#">EN</a>
      </div>
    </nav>
  </div>
</aside>
