<aside class="aside">
  <a class="aside__logo-wrap" href="#">
    <img class="aside__logo" src="./img/logo.png" alt="new project">
  </a>

  <nav class="nav">
    <a href="#" class="nav__target-link">
      Личный кабинет
    </a>

    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link nav__link--target" href="#">Главная</a>
      </li>

      <li class="nav__item nav__item--submenu">
        <button class="nav__link nav__link--submenu" type="button">О Project</button>

        <ul class="nav__submenu">
          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 1
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 2
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 3
            </a>
          </li>
        </ul>
      </li>

      <li class="nav__item nav__item--submenu">
        <button class="nav__link nav__link--submenu" type="button">Наши решения</button>

        <ul class="nav__submenu">
          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 1
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 2
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 3
            </a>
          </li>
        </ul>
      </li>

      <li class="nav__item nav__item--submenu">
        <button class="nav__link nav__link--submenu" type="button">Культура Project</button>

        <ul class="nav__submenu">
          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 1
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 2
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 3
            </a>
          </li>
        </ul>
      </li>

      <li class="nav__item nav__item--submenu">
        <button class="nav__link nav__link--submenu" type="button">Устойчивое инвестирование</button>

        <ul class="nav__submenu">
          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 1
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 2
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 3
            </a>
          </li>
        </ul>
      </li>

      <li class="nav__item nav__item--submenu">
        <button class="nav__link nav__link--submenu" type="button">Исследования рынка</button>

        <ul class="nav__submenu">
          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 1
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 2
            </a>
          </li>

          <li class="nav__submenu-item">
            <a class="nav__submenu-link" href="#">
              Link 3
            </a>
          </li>
        </ul>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="#">Последние новости</a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="#">Связаться снами</a>
      </li>
    </ul>

    <div class="nav__lang">
      <a class="nav__lang-item nav__lang-item--active" href="#">RU</a> /
      <a class="nav__lang-item" href="#">EN</a>
    </div>
  </nav>

  <ul class="info-link-list aside__list-link">
    <li class="info-link-list__item">
      <a class="info-link-list__link" href="#">Политика конфиденциальности</a>
    </li>

    <li class="info-link-list__item">
      <a class="info-link-list__link" href="#">Клиентское соглашение</a>
    </li>

    <li class="info-link-list__item">
      <a class="info-link-list__link" href="#">Политика Aml</a>
    </li>

    <li class="info-link-list__item">
      <a class="info-link-list__link" href="#">Правила использования веб-сайта</a>
    </li>
  </ul>

  <p class="aside__copyright">
    © 2021 Project. All Rights Reserved.
  </p>
</aside>
