<footer class="footer">
  <div class="footer__left-wrap">
    <ul class="footer__list">
      <li class="footer__item"><img class="footer__img" src="./img/icons/lei-footer.png" alt="lei-footer" width="100">
      </li>
      <li class="footer__item"><img class="footer__img" src="./img/icons/asic-footer.png" alt="asic-footer" width="110">
      </li>
      <li class="footer__item"><img class="footer__img" src="./img/icons/visa-footer.png" alt="visa-footer" width="80">
      </li>
      <li class="footer__item"><img class="footer__img" src="./img/icons/mastercard-footer.png" alt="mastercard-footer"
          width="100">
      </li>
      <li class="footer__item"><img class="footer__img" src="./img/icons/rapid-footer.png" alt="rapid-footer"
          width="68"></li>
      <li class="footer__item"><img class="footer__img" src="./img/icons/3dsecured-footer.png" alt="3dsecured-footer"
          width="50">
      </li>
    </ul>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Политика конфиденциальности </a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Клиентское соглашение </a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Политика Aml </a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Правила использования веб-сайта</a></li>
      </ul>
    </nav>

    <p class="footer__copirite"> © 2021 Project. All Rights Reserved.</p>
  </div>

  <div class="footer__right-wrap">
    <p class="footer__text">
      Чтобы получить консультацию по интересующему вопросу, напишите нам письмо с указанием вашего запроса:
    </p>

    <div class="footer__info">
      <a class="footer__info-link" href="#">
        <span class="footer__info-text">E-mail.:</span>
        info@example.com
      </a>
    </div>
    <p class="footer__text">Также с нами можно связаться по телефону:</p>

    <div class="footer__info">
      <a class="footer__info-link" href="#">
        <span class="footer__info-text">Тел.:</span>
        +7(000)000-00-00
      </a>
    </div>
  </div>
</footer>
