
.about-investment {
  display: flex;
  background-color: #fbfbfa;

  @include media-exsm {
    flex-direction: column;
  }
}

.about-investment__analize-left{
  padding: 30px;
  padding-right: 10px;

  @include media-lg {
    padding: 20px 15px;
  }
}

.about-investment__analize-heading {
  margin-bottom: 20px;
}

.about-investment__analize-right {
  max-width: 467px;
  width: 35%;
  flex-shrink: 0;

  @include media-exsm {
    width: 100%;
    margin: auto;
    order: -1;
  }
}

.about-investment__text:not(:last-child) {
  margin-bottom: 20px;
}

.about-investment__text--hard {
  font-weight: 700;
}

.about-investment__list {
  margin-bottom: 20px;
}

.about-investment__ing-wrap {
  position: relative;
  padding-bottom: 62.5%;
}

.about-investment__analize-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
