.article-investment__analize-heading {
    margin-bottom: 20px;
}

.article-investment__text:not(:last-child) {
    margin-bottom: 20px;
}

.article-investment__text--hard {
    font-weight: 700;
}

.article-investment__list:not(:last-child) {
    margin-bottom: 20px;
}
