.contact-list__item:not(:last-child) {
  margin-bottom: 22px;
}

.contact-list__text {
  font-size: 14px;
  margin-bottom: 24px;
}

.contact-list__link {
  @include active;

  font-weight: 700;
  font-size: 18px;
  color: $brand-color;
}
