.factors {
  background-color: #dde1e6;
  padding: 25px 30px;

  @include media-lg {
    padding: 20px 15px;
  }
}

.factors__title {
  margin-bottom: 28px;
}

.factors__list:not(:last-child) {
  margin-bottom: 20px;
}

.factors__text:not(:last-child) {
  margin-bottom: 20px;
}
