
.hard-heading__big{
  color: $brand-color;
  font-size: 24px;
  font-weight: 700;
  padding-top: 20px;
}

.hard-heading__small {
  color: $brand-color;
  font-size:18px;
  font-weight: 700;
  padding-top: 20px;
}
