.hard-heading__title {
    margin-bottom: 30px;
    color: $brand-color;
    font-size: 24px;
    font-weight: 700;
}

.hard-heading__text:not(:last-child) {
    margin-bottom: 20px;
}

.hard-heading__subtitle {
    margin-bottom: 24px;
}
