.input-item {
  display: flex;
  align-items: center;
  font-size: 14px;

  @include media-exsm {
    flex-direction: column;
    align-items: flex-start;
  }
}

.input-item--min {
  .input-item__text {
    width: 140px;
    font-size: 15px;
    margin: 0;
    padding-right: 4px;
  }
}

.input-item__text {
  flex-shrink: 0;
  margin-right: 24px;
  white-space: nowrap;
}

.input-item--required .input-item__text-wrap:after {
  content: ' *';
  color: $strong-color;
}

.input-item__text--hidden-desc {
  display: none;
}
