.last-news__heading {
  margin-bottom: 30px;
}

.last-news__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.last-news__heading-wrap {
  width: 100%;
}

.last-news__line {
  width: 100%;
  border-bottom: 2px solid #020202;
}

.last-news__btn-wrap {
 display: flex;
 justify-content: center;
}

.last-news__hard-heading {
  padding: 35px 0 25px 0;
}

.last-news__hard-text {
  padding-bottom: 20px;
}

.last-news__about-text {
  padding-bottom: 20px;
}
