.list {
    font-size: 14px;
}

.list__item {
    position: relative;
    padding: 0 20px;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: .2em;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $brand-color;
    }
}
