.wrap-news__heading {
  color: #2a5b98;
  padding-bottom: 20px;
}

.wrap-news__link {
  padding-top: 4px;
  margin-left: auto;
}

.news__text {
  margin-bottom: 20px;

  @include media-lg {
    margin-bottom: 15px;
  }
}

.news__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.news__img-wrap {
  @include active;

  position: relative;
  display: block;
  padding-bottom: 58%;
  margin-bottom: 18px;

  @include media-lg {
    margin-bottom: 15px;
  }
}

.news__heading {
  @include active;

  margin-bottom: 4px;
  font-size: 14px;
}

.news__time {
  font-size: 14px;
}
