.payment-his__item:not(:last-child) {
  margin-bottom: 30px;
}

.payment-his__date-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
}

.payment-his__date {
  color: $brand-color;
}

.payment-his__name-curr {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.payment-his__name {
  font-size: 14px;

}

.payment-his__curr {
  color: $brand-color;
  font-size: 15px;
}

.payment-his__line {
  margin-left: 24px;
  margin-right: 20px;
}

.payment-his__acc {
  font-size: 12px;
  font-weight: 700;
  color: #a2a2a2;
}
