.personal-area__heading {
  margin-bottom: 22px;
}

.personal-area__investment {
  margin-bottom: 32px;
}

.personal-area__personal {
  margin-bottom: 20px;
}

.personal-area__investment {
  margin-bottom: 24px;
}
