.portfolio-investment__heading {
    margin-bottom: 30px;
}

.portfolio-investment__investment {
    margin-bottom: 24px;
}

.portfolio-investment__factors {
    margin-bottom: 24px;
}

.portfolio-investment__article:not(:last-child) {
    margin-bottom: 20px;
}