.portfolio-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-form__input-item {
  margin-top: 5px;
}

.portfolio-form__fildset {
  width: 50%;
}

.portfolio-form__fildset:not(:first-child) {
  padding-left: 50px;
}

.portfolio-form__btn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 16px;
}
