.withdrawal__form--wrap {
  margin-bottom: 15px;
}

.withdrawal__article {
  margin: 30px 0;
}

.withdrawal__process-wrap {
// width: 100%;
padding: 15px 10px;
background-color: #dde1e6;
}

.withdrawal__process-about {
  display: flex;
  align-items: center;
}

.withdrawal__article-text {
  padding-top: 20px;
}
